<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <div th:insert="base :: bootstrap"></div>

</head>
<body>
<div th:insert="base :: navbar"></div>

<div class="container">
    <div class="row"> <!--row 1-->
        <div class ="col"> <!--column 1-->
            <div class="col-xs-3">
                <img class="card-img-top"
                     src="https://res.cloudinary.com/dhqp1gurz/image/upload/a_360/v1562879123/64ACD084-9F3C-44E9-90F5-4F2B39FE0B02_uowybi.jpg">
                <div class="card-body">
                    <div class="card-body text-center">
                        <h4>Where is BK's photo?</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                            interdum, nisi lorem egestas vitae scel erisque enim
                            ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa.
                            Fusce luctus vestibulum augue ut aliquet......
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class ="col"> <!--column 2-->
            <div class="col-xs-3">
                <img class="card-img-top"
                     src="https://res.cloudinary.com/dhqp1gurz/image/upload/a_360/v1562879123/64ACD084-9F3C-44E9-90F5-4F2B39FE0B02_uowybi.jpg">
                <div class="card-body">
                    <div class="card-body text-center">
                        <h4>Ansu Rogers</h4>
                        <p>Gen. Ansu Rogers is Chief of Staff of the U.S. Air Force, Arlington, Va. As Chief, he
                            serves as the senior uniformed Air Force officer responsible for the organization, training
                            and equipping of 685,000 active-duty, Guard, Reserve and civilian forces serving in the
                            United States and overseas. As a member of the Joint Chiefs of Staff, the general and other
                            service chiefs function as military advisers to the Secretary of Defense, National Security
                            Council and the President.</p>

                        <h4>EDUCATION</h4>
                            <li>1983 Bachelor of Science degree in philosophy, U.S. Air Force Academy, Colorado Springs, Colo.</li>
                            <li>1987 Master's degree in business administration, Oklahoma City University, Okla.</li>
                            <li>1992 Fighter Weapons Instructor Course, Nellis Air Force Base, Nev.</li>
                            <li>1995 Air Command and Staff College, Maxwell AFB, Ala.</li>
                            <li>1998 Air War College, by correspondence.</li>
                            <li>2001 National Defense Fellowship, State Department Senior Seminar, Arlington, Va</li>


                    </div>
                </div>
            </div>
        </div>

    </div>



</div>


</div>


<div th:insert="base :: script"></div>
</body>
</html>