<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <div th:insert="base :: bootstrap"></div>
</head>
<body>
<div th:insert="base :: navbar"></div>

<div class="container">
    <div class="row"> <!--row 1-->
        <div class ="col"> <!--column 1-->
            <div class="col-xs-3">
                <img class="card-img-top"
                     src="https://res.cloudinary.com/dhqp1gurz/image/upload/v1562785044/caffe_latte_a2jhbi.jpg">
                <div class="card-body">
                    <div class="card-body text-center">
                        <h4>BK Information</h4>
                        <p>Tall Price is $2.95</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                            interdum, nisi lorem egestas vitae scel erisque enim
                            ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa.
                            Fusce luctus vestibulum augue ut aliquet......
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class ="col"> <!--column 2-->
            <div class="col-xs-3">
                <img class="card-img-top"
                     src="https://res.cloudinary.com/dhqp1gurz/image/upload/v1562785044/caffe_latte_a2jhbi.jpg">
                <div class="card-body">
                    <div class="card-body text-center">
                        <h4>Ansu Rogers</h4>
                        <p>Tall Price is $2.95</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                            interdum, nisi lorem egestas vitae scel erisque enim
                            ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa.
                            Fusce luctus vestibulum augue ut aliquet......
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>


</div>


<div th:insert="base :: script"></div>
</body>
</html>